# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.env
.venv
venv/
env/

# Database
*.db
*.sqlite3

# Uploads
backend/uploads/

# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
.vercel
