.layout {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
  transition: grid-template-columns 0.2s ease;
}

.layout.withArtifacts {
  grid-template-columns: 1fr 320px;
}
